<div class="hero-section">
  <div 
  style="background-image: url('{{'splash.jpg' | asset_url }}')"
  class="hero-image">
  </div>
  <div class="hero-section-flex">
    <h1 class="saff">
      Products To Make You <span>Glow</span>
    </h1>
  </div>
</div>