<div class="intro">
    <h3>
       We create consciously sourced products packed full of <span>nutrient dense</span> ingredients.  
       All our products are 100% <span>cruelty free and vegan friendly.</span> 
       We stay <span>clear of nasty ingredients</span> such as parabens & sulfates making our range the <span>perfect choice</span> for those with sensitive skin.
    </h3>
</div>